{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.container { display: flex; flex-direction: column; height: 100%; justify-content: center; align-items: center; font-family: sans-serif; }
		img { width: 6rem; }
		.custom-form { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 75%; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 1.25rem; padding: 1rem; border: 1px solid #E5E7EB;border-radius: 0.375rem; }
		.form-div { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; }
		.input-div { width: 100%; display: flex; flex-direction: column; gap: 4px; margin-top: 12px; }
		.custom-input { display: flex; height: 2rem; width: 100%; border-radius: 0.375rem; border: 1px solid #cbd5e0; background-color: #f7fafc; padding: 0.5rem 0.75rem; font-size: 0.875rem; outline-offset: 0.25rem; }
		.custom-input::placeholder { color: #a0aec0; }
		.div-btn { display: flex; justify-content: center; flex-direction: column; }
		.btn { cursor: pointer; color: #fff; background-color: #1B1B1B; border: none; font-weight: 400; text-align: center; margin: 1rem auto; padding: 12px; font-size: 16px; border-radius: 0.25rem; transition: background-color 0.15s ease-in-out; }
		.btn:hover { background-color: #3C3C3C; }
		.custom-link { text-decoration: none; color: black; font-size: 14px; text-align: center; }
		.custom-link:hover { text-decoration: underline; }
        .link-forgetpassword { text-decoration: none; color: #64748B; font-size: 14px; text-align: right; }
        .link-forgetpassword:hover { text-decoration: underline; }
        .alert { color: red; }
		@media(min-width: 768px) { img { width: 10rem; } .custom-form { width: 50%; } h2 { font-size: 30px; } }
        @media(min-width: 1024px) { .custom-form { width: 515px; } .input-div { width: 384px; } }
	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<img src="./logo2.svg" alt="Logo Icon"/>

		<form method='post' class='custom-form'>
			<h2>Se connecter</h2>

			{% if error %}
				<div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connnecté en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<div class='form-div'>
				<div class='input-div'>
					<label for="username">Email</label>
					<input class="custom-input" type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
				</div>
				<div class='input-div'>
					<label for="password">Mot de passe</label>
					<input class="custom-input" type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    <a href="/recover/account" class='link-forgetpassword'>Mot de passe oublié</a>
				</div>


				<div class='div-btn'>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn" type"submit">Se connecter</button>
					<a class='custom-link' href="/register">Pas encore de compte ? S’inscrire</a>
				</div>
			</div>
		</form>
	</div>

{% endblock %}